*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: "Poppins", sans-serif;
    min-height:50vh;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  
  .container{
   width: 100%;
  }
table tr td {
    border : 1px solid black;
    border-collapse: collapse;     
    justify-content: left;
    align-items:center;
}
.createTable{
    width: 50vh;
}

.space{
  border:0px;
}

.th-1 {
  width: 500em;
}