<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3d Card Effect</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="sneaker">
                <div class="circle"></div>
                <img src="/images/logo.png" alt="">
            </div>
            <div class="info">
                <h2 class="title"> Nodejs Web Project</h1>

                    <h3>웹 프로그래밍 설계 및 실습 프로젝트<br>20141964 윤현우</h3>

                    <h3>About <strong style='color: lightblue'>general board</strong> and <strong
                            style='color: coral'>photo board</strong> with hashTag</h3>
                            <div class="sizes">
                                <button onclick='location.href="/"'>/</button>
                                <button class="active">about</button>
                                <button onclick='location.href="board"'>board</button>
                                <button onclick='location.href="gallery"'>gallery</button>
                            
                                <button onclick='location.href="msg"' >msg</button>
                            </div>

            </div>
            
            <div class="purchase">
                <button id='stop'>화면 클릭시 움직임 중지</button>
            </div>
        </div>

    </div>
    <script src="/javascripts/app.js"></script>
</body>

</html>